<div style=" background-color: #232F3E;padding: 40px;">
    <div style="margin: 0 auto;max-width: 800px;justify-content: space-around;">
        <div class="footer-top" style="">
            <div style="display: table-cell;">
                <div>Get to Know Us</div>
                <ul class="footer-top-list">
                    <li>About Us</li>
                    <li>Careers</li>
                    <li>Press Releases</li>
                    <li>Amazon Science</li>
                </ul>
            </div>
            <div style="display: table-cell;width: 8%;"></div>
            <div style="display: table-cell;">
                <div>Connect with Us</div>
                <ul class="footer-top-list">
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>Twitter</li>
                </ul>
            </div>
            <div style="display: table-cell;width: 8%;"></div>
            <div style="display: table-cell;">
                <div>Make money with Us</div>
                <ul class="footer-top-list">
                    <li>Sell on Amazon</li>
                    <li>Sell under Amazon Accelerator</li>
                    <li>Protect and bui;d your Brand</li>
                    <li>Amazon Global Selling</li>
                    <li>Become an Affiliate</li>
                    <li>Fulfillment By Amazon</li>
                </ul>
            </div>
            <div style="display: table-cell;width: 8%;"></div>
            <div style="display: table-cell;">
                <div style="font-weight: 500;">Let Us Help You</div>
                <ul class="footer-top-list">
                    <li>Your Account</li>
                    <li>Returns Center</li>
                    <li>100% Purchase Protection</li>
                    <li>Amazon App Download</li>
                    <li>Help</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <table class="footer-table">
        <tbody>
            <tr class="footer-text-tr">
                <td class="footer-text-td">
                    <span>AbeBooks</span>
                    <span class="footer-text-info"><br />Books, art<br />& collections</span>
                </td>
                <td style="width: 4%;"></td>
                <td class="footer-text-td">
                    <span>Amazon Web Services</span>
                    <span class="footer-text-info"><br />Scalable Cloud<br />Computing Services</span>
                </td>
                <td style="width: 4%;"></td>
                <td class="footer-text-td">
                    <span>Audible</span>
                    <span class="footer-text-info"><br />Download<br />Audio Books</span>
                </td>
                <td style="width: 4%;"></td>
                <td class="footer-text-td">
                    <span>IMDB</span>
                    <span class="footer-text-info"><br />Movies, TV<br />& Celebrities</span>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr class="footer-text-tr">
                <td class="footer-text-td">
                    <span>Shopbop</span>
                    <span class="footer-text-info"><br />Designer<br />Fashion Brands</span>
                </td>
                <td style="width: 4%;"></td>
                <td class="footer-text-td">
                    <span>Amazon Business</span>
                    <span class="footer-text-info"><br />Everything For<br />Your Business</span>
                </td>
                <td style="width: 4%;"></td>
                <td class="footer-text-td">
                    <span>Prime Now</span>
                    <span class="footer-text-info"><br />2 - Hour Delivery<br />On Everyday Items</span>
                </td>
                <td style="width: 4%;"></td>
                <td class="footer-text-td">
                    <span>Amazon Prime Music</span>
                    <span class="footer-text-info"><br />100 Million songs, ad-free<br />Over 15 million podcast episodes</span>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="footer-text-tr footer-copyright">
        <ul class="footer-conditions">
            <li>Conditions of Use & Sale</li>
            <li>Privacy Notice</li>
            <li>Interest-Based Ads</li>
        </ul>
        <span>&#169;1996 - 2023, Amazon.com, Inc. or its affiliates</span>
    </div>
</div>
